/* public/css/auth.css */
form {
    max-width: 450px;
    margin: 80px auto;
    padding: 40px;
    background: #2b3947;
    /* Dark card */
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

form h2 {
    color: #fff;
    margin-top: 0;
    text-align: center;
}

form label {
    font-weight: 500;
    display: block;
    margin-top: 15px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

form input {
    background: rgba(250, 250, 250, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
}

form input:focus {
    background: rgba(250, 250, 250, 0.2);
    border-color: #ed563b;
}

form button {
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    font-size: 16px;
}

.auth-links {
    text-align: center;
    margin-top: 20px;
}

.auth-links a {
    color: #ed563b;
    font-weight: 600;
}