/* public/css/dashboard.css */
.dashboard-container {
    display: flex;
    gap: 30px;
}

.sidebar {
    width: 260px;
    background: #2b3947;
    padding: 30px;
    min-height: 500px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.sidebar h3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    margin-top: 0;
    color: #ed563b;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    color: #fff;
    display: block;
    padding: 10px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.3s;
}

.sidebar a:hover {
    color: #ed563b;
    background: rgba(0, 0, 0, 0.2);
    padding-left: 20px;
    /* Slide effect */
}

.main-content {
    flex: 1;
    background: transparent;
    padding: 0;
    border: none;
}

.main-content h3,
.main-content h2,
.main-content h4 {
    color: #fff;
    text-transform: uppercase;
}

.card {
    background: #2b3947;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Dashboard Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #2b3947;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

th {
    background-color: #ed563b;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
}