
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 20px;
}


.card {
  background-color: #ffffff;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border-radius: 6px;
}


.card h2 {
  text-align: center;
  margin-bottom: 20px;
}


form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

form input,
form select {
  padding: 8px;
  flex: 1;
  min-width: 150px;
}

form button {
  padding: 8px 14px;
  cursor: pointer;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f0f0f0;
}


.delete-btn {
  padding: 5px 10px;
  cursor: pointer;
}
