body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.box {
    margin-bottom: 20px;
}

#aboutSection {
    margin-bottom: 20px;
}


.team-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.team-box {
    width: 32%;
    border: 1px solid #888;
    padding: 10px;
    text-align: center;
}


.team-img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    background-color: #ddd;
}
