body {
    padding: 20px;
    font-family: Arial;
}

.box {
    padding: 15px;
    margin-bottom: 20px;
}

button {
    margin-right: 10px;
}

#announceList {
    margin-top: 15px;
}

#message {
    margin-top: 10px;
}
