body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.box {
    margin-bottom: 20px;
}

.errorText {
    color: red;
    font-size: 14px;
    height: 18px;
}

#mainImg {
    width: 300px;
    height: 200px;
    object-fit: contain;
    background-color: #ddd;
    margin-bottom: 5px;
}

#mainDesc {
    font-weight: bold;
    margin-bottom: 10px;
}
