body {
    font-family: Arial;
    max-width: 350px;
    margin: 20px;
}

.box {
    margin-bottom: 15px;
}

button {
    margin-top: 5px;
}

#msgBox {
    margin-top: 10px;
    font-weight: bold;
}
